html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0, 0.9);  
}

body > header > h1 {
   color: rgba(0, 10, 99, 0.87);
   font-family: 'Black Ops One', cursive;
   font-size: 3rem;
   font-style: normal;
   text-transform: capitalize;
   text-decoration: none;
   text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
   text-align: center;
   font-weight: 100;
}

header {
    border: 10px solid rgba(0, 10, 99, 0.87);
    padding: 20px;
}

h2{
    padding: 30px;
    color: white;
    background:  rgba(0, 10, 99, 0.87);
  
}

.especial {
    text-align: center;
    margin-top: -25px;
    letter-spacing: 2px;
    color: rgb(75, 75, 75);
}


nav ul {
    padding-left: 2.5rem;
    list-style-image: url(/multimedia/star-icon.png);
    list-style-position: inside;
    line-height: 1.5em;
    font-size: 1.2em;
}

p{
    font-family: 'Black Ops One', cursive;
}
article {
    text-align: center;
    background: rgb(172, 171, 171);
    width: 45%;
    padding: 20px;
    margin: 20px;
}


a:link {
    padding:10px;
    margin:5px;
    color:white;
    background-color: rgba(0, 10, 99, 0.5);
    text-decoration: none;
    text-decoration-color: pink;
    color: rgba(0, 10, 99, 0.87);

    display: inline-block;
}

a:visited{
    color: white;
}

a:hover{
    background: pink;
    font-weight: bold;
}

a:active{
    color: rgba(0, 10, 99, 0.87)
    
}
