main {
    margin:0;
    background: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem;

} 

main article{
    background: rgba(255, 255, 255, 0.377);
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
}

main article h1{
    color:white;
    text-align: center;
}

main article p{
    text-align: center;
}


main article.dos{


}